@import "./colors.scss";
@import "./main.scss";

.slider {
  position: relative;
  height: auto;
  &_img {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    border-radius: 2vw;
  }
}
.slider-container {
  display: flex;
  width: 100%;
}
.slider-content-one {
  width: 80%;
}
.slider-content-two {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 20%;
}
.identity {
  display: flex;
  justify-content: flex-end;
  margin-top: 2vw;
}
.host_name {
  width: auto;
  color: $color-2;
  font-size: 2vw;
  font-weight: 500;
  &_part {
    margin-left: auto;
  }
}

#rond {
  width: 6vw;
  height: 6vw;
  background-color: rgb(188, 188, 188);
  border-radius: 50%;
  margin-left: 1vw;
}
.rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2vw;
  margin-bottom: 1.5vw;
}
#title {
  width: 100%;
  margin: 0;
  h2 {
    color: $color-2;
    margin: 2vw 0 0 0;
    font-size: 3.7vw;
    font-weight: 600;
  }
}
#location {
  justify-content: flex-start;
  margin: 0;
  color: $color-4;
  font-size: 1.7vw;
  margin-top: 0.5vw;
}
#tag {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 1.5vw;
  &_name {
    justify-content: center;
    align-items: center;
    width: auto;
    height: 2.5vw;
    color: $color-1;
    margin-right: 2vw;
    margin-bottom: 2vw;
    background-color: $color-2;
    padding: 0 2.6vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    white-space: nowrap;
  }
}
.fa-star {
  padding: 0.5vw;
  margin-top: 1vw;
}
.star {
  &.filled {
    color: $color-2;
  }

  &.empty {
    color: rgb(224, 224, 224);
  }
}
#number {
  position: absolute;
  bottom: -8%;
  left: 50%;
  color: $color-1;
  font-size: 1.2vw;
}

.chevron {
  position: absolute;
  top: 44%;
  font-size: 6vw;
  color: white;
  padding: 10px;
  cursor: pointer;
  &_left {
    left: 10px;
  }
  &_right {
    right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .slider-container {
    display: block;
  }
  .slider_img {
    height: 70vw;
  }
  .chevron {
    font-size: 5vw;
    top: 42%;
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }
  #title {
    width: 100%;
    margin: 0;
  }
  .slider-content-one {
    width: 100%;
  }
  .slider-content-two {
    flex-direction: row-reverse;
    width: 100%;
    height: 8vw;
  }
  #location {
    font-size: 2.5vw;
    margin: 1vw 0;
  }
  .container-tag {
    display: block;
    height: 5vw;
  }
  .rating {
    font-size: 3vw;
    margin: 0;
    width: auto;
  }
  #tag {
    width: 100%;
    &_name {
      height: 2.5vw;
      font-size: 1.5vw;
      margin: 0 2.5vw 0 0;
    }
  }
  .identity {
    width: auto;
    align-items: center;
    margin: 0;
  }

  #description,
  #equipments {
    width: 100%;
    align-items: center;
  }

  #equipments {
    margin-top: 2vw;
  }
  #number {
    display: none;
  }
}
